# Heatmaps for Weather Parameters

In [26]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [27]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,383,San Fernando,PH,3/27/22 2:47,15.0286,120.6898,95.86,37,3,8.05
1,405,Cairns,AU,3/27/22 2:47,-16.9167,145.7667,93.07,62,75,6.91
2,163,Mount Isa,AU,3/27/22 2:42,-20.7333,139.5000,92.97,13,0,6.91
3,70,Kinwat,IN,3/27/22 2:46,19.6333,78.2000,92.28,25,17,6.04
4,45,Ghatanji,IN,3/27/22 2:45,20.1333,78.3167,92.07,16,13,7.09

In [28]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Maximum Temperature Heatmap

In [34]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [52]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Note:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
- you will get an error code since weights have to be non-negative in Linear regression (- max temperatures)
- therefore, use code #temp... only get max temp if > 0, usin

## Create a Percent Humidity Heatmap

In [53]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [56]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [57]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

##### Goal
Create a feature on the app that allows customers to search for locations they want to travel based on their temperature preferences.

In [59]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [60]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,433,Sampit,ID,3/27/22 2:48,-2.5333,112.9500,89.71,54,81,4.07
11,194,Phangnga,TH,3/27/22 2:46,8.4509,98.5298,89.64,63,2,1.16
12,263,Kathu,TH,3/27/22 2:47,7.9178,98.3332,89.42,93,2,3.13
13,393,Phan Thiet,VN,3/27/22 2:47,10.9333,108.1000,89.42,57,16,4.97
14,496,Dingle,PH,3/27/22 2:43,10.9995,122.6711,88.72,55,100,13.15
15,320,Daragutan,PH,3/27/22 2:47,17.0000,122.0333,87.91,62,18,4.68
16,252,Georgetown,MY,3/27/22 2:40,5.4112,100.3354,87.73,74,20,5.01
17,314,Samarai,PG,3/27/22 2:47,-10.6167,150.6667,87.21,67,76,15.73
18,424,Kendari,ID,3/27/22 2:48,-3.9450,122.4989,87.06,60,100,2.86
19,458,Bintulu,MY,3/27/22 2:48,3.1667,113.0333,86.41,79,40,2.30

In [61]:
# Determine if there are any null values.
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

# Map Vacation Criteria

### Get Travel Destinations

In [62]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
10      Sampit      ID     89.71  -2.5333  112.9500
11    Phangnga      TH     89.64   8.4509   98.5298
12       Kathu      TH     89.42   7.9178   98.3332
13  Phan Thiet      VN     89.42  10.9333  108.1000
14      Dingle      PH     88.72  10.9995  122.6711
15   Daragutan      PH     87.91  17.0000  122.0333
16  Georgetown      MY     87.73   5.4112  100.3354
17     Samarai      PG     87.21 -10.6167  150.6667
18     Kendari      ID     87.06  -3.9450  122.4989
19     Bintulu      MY     86.41   3.1667  113.0333

### Retrieve Hotels from a Nearby Search
#### Set the Parameters for a Nearby Search

In [68]:
# Set the parameters to search for a hotel. 
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

### Iterate Through hotel_df DataFrame

In [70]:
# Iterate through the DataFrame. 
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude 
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to the location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # use the search term: "lodging" and our latitude and longitude. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Mae the request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.... skipping.")

Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.

In [71]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Sampit,ID,89.71,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
11,Phangnga,TH,89.64,8.4509,98.5298,Sunimit Mansion
12,Kathu,TH,89.42,7.9178,98.3332,Novotel Phuket Resort
13,Phan Thiet,VN,89.42,10.9333,108.1000,Hotel Saigon-PT
14,Dingle,PH,88.72,10.9995,122.6711,SEGAYA PROPERTY
...,...,...,...,...,...,...
158,Kwinana,AU,75.49,-32.2500,115.7667,Rockingham Apartments
159,Ikom,NG,75.38,5.9667,8.7063,Reho Farm & Resort
160,Hilo,US,75.25,19.7297,-155.0900,Hilo Hawaiian Hotel
161,Puerto Cabezas,NI,75.02,14.0351,-83.3888,Cabaña Caribe
162,Gogrial,SS,75.00,8.5332,28.1004,

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [80]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [82]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]