## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
0,0,Stromness,58.9650,-3.2960,46.36,84,39,1.01,scattered clouds,GB,2022-03-27 22:51:59
1,1,Pimentel,-6.8367,-79.9342,77.29,57,0,16.11,clear sky,PE,2022-03-27 22:51:59
2,2,Zhigansk,66.7697,123.3711,3.63,98,98,2.66,overcast clouds,RU,2022-03-27 22:52:00
3,3,Rikitea,-23.1203,-134.9692,79.14,66,14,9.44,few clouds,PF,2022-03-27 22:47:17
4,4,Mataura,-46.1927,168.8643,66.81,56,3,2.62,clear sky,NZ,2022-03-27 22:50:33

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                233
City                   233
Lat                    233
Lng                    233
Max Temp               233
Humidity               233
Cloudiness             233
Wind Speed             233
Current Description    233
Country                232
Date                   233
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                232
City                   232
Lat                    232
Lng                    232
Max Temp               232
Humidity               232
Cloudiness             232
Wind Speed             232
Current Description    232
Country                232
Date                   232
dtype: int64

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Cayenne,GF,81.09,broken clouds,4.9333,-52.3333,
13,Kavieng,PG,83.66,broken clouds,-2.5744,150.7967,
15,Vaini,TO,84.36,scattered clouds,-21.2000,-175.2000,
17,Poya,NC,81.23,broken clouds,-21.3500,165.1500,
20,Bonfim,BR,82.76,overcast clouds,3.0833,-59.9500,
23,San Patricio,US,85.53,overcast clouds,28.0170,-97.5169,
25,Kulhudhuffushi,MV,82.22,scattered clouds,6.6221,73.0700,
41,Saint George,US,84.79,clear sky,37.1041,-113.5841,
42,Thinadhoo,MV,81.61,few clouds,0.5333,72.9333,
46,Georgetown,MY,80.53,few clouds,5.4112,100.3354,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, hotel in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = hotel["Lat"]
    lng = hotel["Lng"]
    params["location"]= f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   232
Country                232
Max Temp               232
Current Description    232
Lat                    232
Lng                    232
Hotel Name             232
dtype: int64

In [24]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Cayenne,GF,81.09,broken clouds,4.9333,-52.3333,HÃ´tel Le Dronmi
13,Kavieng,PG,83.66,broken clouds,-2.5744,150.7967,Nusa Island Retreat
15,Vaini,TO,84.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
17,Poya,NC,81.23,broken clouds,-21.3500,165.1500,
20,Bonfim,BR,82.76,overcast clouds,3.0833,-59.9500,
...,...,...,...,...,...,...,...
1930,Tiarei,PF,86.02,light rain,-17.5333,-149.3333,Le Rocher de Tahiti
1936,Wawa,NG,85.42,few clouds,9.9022,4.4192,
1941,Ziniare,BF,86.83,scattered clouds,12.5822,-1.2983,PrivilÃ¨ge HÃ´tel de ZiniarÃ©
1947,Nicoya,CR,89.35,overcast clouds,10.1483,-85.4520,Las Cabinas Del SueÃ±o
1960,Socorro,US,87.28,broken clouds,31.6546,-106.3033,guarderia imss papalote

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}  and  {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))